// Color 
////////

// Base Color
$pramiry-color: #FFFFFF !default; // white
$second-color: #000000 !default; // black

// Second Color
$third-color: #CF000F !default; //monza
$four-color: #D2527F !default; //pink