// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.btn {
  margin-bottom: 1.0rem;
  margin-top: 1.0rem;
  &.border, &.radius {
    margin-bottom: 1.0rem;
    margin-top: 1.0rem;
  }
}

button, dd, dt, li,i {
  margin-bottom: 1.0rem;
  margin-top: 1.0rem;
}

fieldset, input, select, textarea {
  margin-bottom: 1.5rem;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 2.5rem;
}